$primary-color: #000000;
$secondary-color: #ffffff;
$tetriary-color: #826550;
$quatenary-color: #353535;
$quinary-color: #cccccc;
$senary-color: #404040;
$septenary-color: #4e4e4e;
$octonary-color: #6a4d38;
$nonary-color: #d5c9bd;
$denary-color: #f8f5f2;