.achievements {
    display: flex;
    transform: translateY(-50%);

    @include media-max(991px) {
        flex-direction: column;
        transform: translateY(-200px);
    }

    @include media-max(767px) {
        transform: translateY(0);
        position: relative;
    }
    
    &__about-work {
        padding: 30px 50px 30px 40px;
        background-color: $secondary-color;

        @include media-max(991px) {
            height: 200px;
            display: flex;
            align-items: center;
            position: relative;
            padding-bottom: 80px;
            width: 100%;
        }

        @include media-max(767px) {
            position: static;
            height: auto;
            flex-direction: column;
            justify-content: flex-start;
            padding: 20px 30px;
        }

        &-left, &-right {
            
            @include media-lock(768px, 991px) {
                width: 50%;
                display: flex;
            }
        }

        &-left {
            @include media-lock(768px, 991px) {
                justify-content: flex-start;
            }
        }

        &-right {
            @include media-lock(768px, 991px) {
                justify-content: flex-end;
            }
        }
    
        h2 {
            font-size: 2rem;
            line-height: 1;
            font-weight: 700;
            margin-bottom: 25px;
    
            @include media-max(991px) {
                margin-bottom: 0;
                width: 250px;
            }

            @include media-max(767px) {
                text-transform: uppercase;
                text-align: center;
            }

            @include media-max(600px) {
                font-size: 1.5rem;
                width: 200px;
            }
        }
    
        p {
            &:first-of-type {
                @include media-max(991px) {
                    width: 230px;
                    margin-top: 10px;
                }

                @include media-max(767px) {
                    width: auto;
                    margin-top: 20px;
                    text-align: center;
                }
            }
        }
    
        .grey {
            margin-top: 25px;
            color: $quinary-color;
    
            @include media-max(991px) {
                position: absolute;
                left: 40px;
                bottom: 30px;
            }

            @include media-max(767px) {
                transform: translateX(-50%);
                left: 50%;
                bottom: -50px;
                width: 220px;
            }
        }
    
        &::before {
            content: "";
            display: block;
            width: 0;
            height: 0;
            border: 12px solid $secondary-color;
            border-bottom-color: transparent;
            border-left-color: transparent;
            position: absolute;
            top: 40px;
            left: -24px;
        }
    
    }
    
    &__numbers {
        width: 640px;
        flex-shrink: 0;
        display: flex;
        flex-wrap: wrap;
    
        @include media-max(991px) {
            flex-shrink: 1;
            width: 100%;
        }
    }
    
    &__numbers-item {
        
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 20px 30px;
        color: $secondary-color;

        @include media-min(768px) {
            @include listItem(2, 0);
        }

        @include media-max(767px) {
            flex-direction: row;
            justify-content: space-between;
        }
        
        @include media-max(600px) {
            padding: 20px;
        }

        &:first-child, &:last-child {
            background-color: $senary-color;
        }
        
        &:nth-child(2) {
            background-color: $septenary-color; 
        }
        
        &:nth-child(3) {
            background-color: $quatenary-color;
        }
    
        h2 {
            font-size: 3.6rem;
            font-weight: 700;
            line-height: 1;
            margin-bottom: 10px;
    
            @include media-max(767px) {
                margin-bottom: 0;
            }

            @include media-max(600px) {
                font-size: 2rem;
            }
        }

        p {
            @include media-max(767px) {
                width: 115px;
                text-align: right;
            }
        }

    }
}
