.features {
    background-color: $quatenary-color;
    
    .wrapper {
        position: relative;
        //padding-top: 10px;

        &::after {
            content: "";
            display: block;
            @include triangle(bottom, 640px, 70px, $quatenary-color);
            transform: translate(-50%,99%);
            position: absolute;
            bottom: 0;
            left: 50%;

            @include media-max(1280px) {
                @include triangle(bottom, 50vw, 70px, $quatenary-color);
            }

            @include media-max(600px) {
                @include triangle(bottom, 50vw, 50px, $quatenary-color);
            }
        }

    }

}