.news {
    margin-top: 130px;
    border-bottom: 1px solid $nonary-color;

    @include media-max(992px) {
        margin-top: 100px;
    }
    
    @include media-max(600px) {
        margin-top: 80px;
        padding: 0 20px;
    }

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        @include media-max(767px) {
            flex-wrap: nowrap;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            margin-bottom: 30px;
        }
    }

    h2 {
        font-size: 2rem;
        line-height: 1;
        font-weight: 700;
        text-transform: uppercase;

        @include media-max(767px) {
            align-self: center;
        }
    }

    .button {
        @include media-max(767px) {
            order: 1;
            width: 100%;
        }
    }

    &__list {
        display: flex;
        width: 100%;
        margin: 50px 0 40px;

        @include media-max(767px) {
            flex-direction: column;
            margin-bottom: 0;
        }
    }

    &__list-item {

        
        display: flex;
        align-items: flex-start;
        padding-right: 30px;
        
        &:hover {
            
            .news__list-item-date {
                background-color: $tetriary-color;

                &::after {
                    @include triangle(bottom, 25px, 10px, $tetriary-color);
                }
            }
            
            .news__list-item-text {
                color: $tetriary-color;
                text-decoration: underline;
            }
        }

        &.mousedown {
            .news__list-item-date {
                background-color: $octonary-color;
                
                &::after {
                    @include triangle(bottom, 25px, 10px, $octonary-color);
                }
            }
            
            .news__list-item-text {
                color: $octonary-color;
            }
        }

        &:last-child {
            @include media-max(991px) {
                display: none;
            }
        }

        @include media-min(992px) {
            @include listItem(3, 0);
        }
    
        @include media-lock(768px, 991px) {
            @include listItem(2, 0);
        }

        @include media-max(767px) {
            padding-right: 0;
            margin-bottom: 40px;
        }

        @include media-lock(500px, 767px) {
            align-items: center;
        }
        
    }

    &__list-item-date {
        flex-shrink: 0;
        width: 50px;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px 20px 0 0;
        background-color: $primary-color;
        color: $secondary-color;
        position: relative;

        &::after {
            content: "";
            display: block;
            @include triangle(bottom, 25px, 10px, $primary-color);
            transform: translateY(100%);
            position: absolute;
            bottom: 0;
            left: 0;
        }

        h3 {
            font-size: 1.5rem;
            line-height: 1;
            margin-bottom: -5px;
            
        }

        p {
            line-height: 1;
        }

        @include media-lock(500px, 767px) {
            margin-top: 0;
        }
    }

    &__list-item-text {
        @include media-lock(768px, 991px) {
            width: 240px;
        }
    }

}