.reviews {
    margin: 50px 0;
    position: relative;

    &::after {
        @include media-max(600px) {
            content: "";
            display: block;
            @include triangle(bottom, 50vw, 50px, $secondary-color);
            transform: translate(-50%,99%);
            position: absolute;
            bottom: 0;
            left: 50%;
        }
    }
    
    @include media-max(600px) {
        padding: 0 20px;
        margin-bottom: 0;
    }
    


    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        h2 {
            font-size: 2rem;
            line-height: 1;
            font-weight: 700;
            text-transform: uppercase;

            @include media-max(600px) {
                width: 100%;
                text-align: center;
            }
        }

        .button {
            @include media-max(600px) {
                display: none;
            }
        }
    }

    &__center {
        display: flex;
        margin: 50px 0; 
        width: 100%;
    }

    .list-switch {
        width: 50px;
        border: 1px solid $nonary-color;
        flex-shrink: 0;

        @include media-max(600px) {
            display: none;
        }
    }

    &__list {
        margin: 0 20px;
        flex-grow: 1;
        border: 1px solid $nonary-color;
        overflow: hidden;

        @include media-max(767px) {
            margin: 0;
        }

        @include media-max(600px) {
            border-width: 0;
        }
    }

    &__list-field {
        width: 100%;
        display: flex;
        transform: translateX(-100%);
        transition: .6s cubic-bezier(0.645, 0.045, 0.355, 1);
    }

    &__list-item {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        width: 100%;
    }

    &__list-item-image {
        flex-shrink: 0;
        height: 160px;
        width: 249px;
        background-image: url(../images/reviews/rewiew-image-960.jpg);

        @include media-max(767px) {
            background-image: url(../images/reviews/review-image-767.jpg);
            background-position: center;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            margin: 40px 0 40px 20px;
        }

        @include media-max(480px) {
            border-radius: 0;
            margin: 5px 20px 0 10px;
            align-self: flex-start;
        }
    }

    &__list-item-quote {
        display: flex;
        flex-direction: column-reverse;
        margin: 0 50px;
        width: 100%;

        cite {
            font-size: 1.2rem;
            font-weight: bold;
            margin-bottom: 10px;
        }


        @include media-max(991px) {
            margin: 0 20px;
        }

        @include media-max(480px) {
            margin: 0 10px 0 0;
        }
    }

    &__paginator {
        display: flex;
        justify-content: center;

        @include media-max(600px) {
            height: 15px;
        }

        .paginator-link {
            margin: 0 10px;
        }
    }
}