@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  margin: 0;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: "PT Sans Narrow";
  src: url("../fonts/PTSansNarrow/PTSansNarrow-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans Narrow";
  src: url("../fonts/PTSansNarrow/PTSansNarrow-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

html {
  font-size: 20px;
}

body {
  font-family: "PT Sans Narrow", "Georgia";
  line-height: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

header {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.wrapper {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 60px;
}

@media only screen and (max-width: 600px) {
  .wrapper {
    padding: 0;
    margin: 0;
  }
}

.page-header {
  background-color: #000000;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.page-header .wrapper {
  position: relative;
  z-index: 1;
}

@media only screen and (max-width: 600px) {
  .page-header .wrapper {
    background-color: #826550;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.page-header h1 {
  font-weight: 700;
  font-size: 1.5rem;
  color: #ffffff;
  text-transform: uppercase;
  display: none;
}

@media only screen and (max-width: 600px) {
  .page-header h1 {
    display: block;
  }
}

.page-header .button_show_menu {
  position: absolute;
  top: 0;
  right: 0;
}

.page-header__bottom {
  max-width: 2560px;
  margin: 0 auto;
  height: 720px;
  padding-top: 50px;
  background: #000000 url(../images/page-header/back-desktop.jpg) no-repeat top center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media only screen and (max-width: 767px) {
  .page-header__bottom {
    height: 250px;
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (min-width: 601px) and (max-width: 767px) {
  .page-header__bottom {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 75px;
  }
}

@media only screen and (max-width: 600px) {
  .page-header__bottom {
    height: auto;
    padding: 30px 0;
    background-image: none;
  }
}

.page-header__bottom_other-pages {
  height: 300px;
}

@media only screen and (max-width: 600px) {
  .page-header__bottom_other-pages {
    height: auto;
    padding: 30px 0;
    background-image: none;
  }
}

.page-header__logo {
  width: 370px;
  height: 153px;
  background: url(../images/page-header/logotype-desktop.png) no-repeat;
}

@media only screen and (max-width: 767px) {
  .page-header__logo {
    height: 101px;
    background-image: url(../images/page-header/logotype-tablet.png) no-repeat;
  }
}

@media only screen and (max-width: 600px) {
  .page-header__logo {
    width: 226px;
    height: 30px;
    background-image: url(../images/page-header/logotype-mobile.png);
  }
}

.main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .main-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 250px;
    position: absolute;
    z-index: 5;
    top: 60px;
    right: 0;
    -webkit-transform-origin: 100% 0;
            transform-origin: 100% 0;
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
    -webkit-transition: 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
}

.main-menu .button_hide_menu {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  position: absolute;
  top: 0;
  left: 0;
}

.main-menu.show {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.main-menu__left, .main-menu__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-menu__left {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media only screen and (max-width: 600px) {
  .main-menu__left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

.main-menu__right {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media only screen and (max-width: 600px) {
  .main-menu__right {
    width: 100%;
  }
}

.button {
  font-size: 0.9rem;
  line-height: 1;
  text-transform: uppercase;
}

.button_menu {
  color: #ffffff;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 60px;
  margin: 0 2px;
}

@media only screen and (max-width: 600px) {
  .button_menu {
    width: 100%;
    margin: 0;
    background-color: #826550;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.button_menu_active {
  position: relative;
}

.button_menu_active::after {
  content: "";
  display: block;
  height: 3px;
  width: 60px;
  background-color: #826550;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  bottom: 0;
}

.button_menu_active:hover::after {
  display: none;
}

.button_menu:hover {
  background-color: #ffffff;
  color: #000000;
}

@media only screen and (max-width: 600px) {
  .button_menu:hover {
    background-color: #755a46;
    color: #ffffff;
  }
}

.button_menu:active {
  color: #cccccc;
}

@media only screen and (max-width: 600px) {
  .button_menu:active {
    background-color: #6a4d38;
    color: #cccccc;
  }
}

@media only screen and (max-width: 600px) {
  .button_login {
    width: 100%;
    margin: 0;
  }
}

.button_login .image {
  width: 16px;
  height: 16.5px;
  margin-right: 15px;
  background: transparent url("../images/page-header/login.png") no-repeat 0 0;
}

@media only screen and (min-width: 601px) and (max-width: 991px) {
  .button_login .image {
    margin-right: 0;
  }
}

.button_login:hover .image {
  background-position: 0 48%;
}

@media only screen and (max-width: 600px) {
  .button_login:hover .image {
    background-position: 0 0;
  }
}

.button_login:active .image {
  background-position: 0 100%;
}

@media only screen and (max-width: 600px) {
  .button_login:active .image {
    background-position: 0 0;
  }
}

@media only screen and (min-width: 601px) and (max-width: 991px) {
  .button_login span {
    display: none;
  }
}

.button_white {
  height: 50px;
  width: 160px;
  border: 1px solid #d5c9bd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button_white:active {
  background-color: #d5c9bd;
}

.button_show_menu, .button_hide_menu {
  height: 60px;
  width: 70px;
  border-width: 0;
  display: none;
}

.button_show_menu:hover, .button_hide_menu:hover {
  background-color: #624530;
}

@media only screen and (max-width: 600px) {
  .button_show_menu, .button_hide_menu {
    display: block;
  }
}

.button_show_menu:focus, .button_hide_menu:focus {
  outline: 0;
}

.button_show_menu {
  background: #6a4d38 url("../images/page-header/icon-show.png") no-repeat center;
}

.button_hide_menu {
  background: #6a4d38 url("../images/page-header/icon-hide.png") no-repeat center;
}

.button_send {
  font-family: inherit;
  width: 100%;
  font-size: 1.2rem;
  color: #ffffff;
  background-color: #826550;
  padding: 20px;
  border-width: 0;
}

.button_send:hover {
  background-color: #6a4d38;
}

.button_send:active span {
  opacity: .8;
}

.button_send:focus {
  outline: 0;
}

.button_send:disabled {
  background-color: #ffffff;
}

.page-footer {
  background-color: #000000;
  color: #ffffff;
  padding: 50px 0;
  position: relative z-index -10;
}

.page-footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 600px) {
  .page-footer .wrapper {
    padding: 0 20px;
    margin-top: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.page-footer__contacts h3 {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  .page-footer__contacts {
    text-align: center;
    margin-bottom: 25px;
  }
}

.page-footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.page-footer__social h3 {
  margin-bottom: 15px;
}

@media only screen and (max-width: 600px) {
  .page-footer__social h3 {
    display: none;
  }
}

.page-footer__images-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-footer__social-link {
  display: block;
  padding: 15px;
  border: 1px solid #353535;
  margin: 0 5px;
}

.page-footer__social-link .social-image {
  height: 19px;
  width: 19px;
  background: url("../images/page-footer/social-desktop.png") no-repeat -2% 0;
}

@media only screen and (max-width: 600px) {
  .page-footer__social-link .social-image {
    height: 40px;
    width: 40px;
    background: url("../images/page-footer/social-mobile.png") no-repeat -4% 0;
  }
}

.page-footer__social-link:nth-child(2) .social-image {
  background-position: 49% 0;
}

.page-footer__social-link:last-child .social-image {
  background-position: 100% 0;
}

.page-footer__social-link:hover {
  border-color: #4e4e4e;
}

.left-trapezoid, .right-trapezoid {
  width: 50%;
  height: 0;
  border: 70px solid #ffffff;
  border-top-width: 0;
  position: absolute;
  z-index: 3;
}

@media only screen and (max-width: 600px) {
  .left-trapezoid, .right-trapezoid {
    display: none;
  }
}

.left-trapezoid_form_color, .right-trapezoid_form_color {
  border-color: #f8f5f2;
}

.left-trapezoid {
  border-right-width: 640px;
  border-left-width: 0;
  border-right-color: transparent;
  left: 0;
  bottom: -1px;
}

@media only screen and (max-width: 1280px) {
  .left-trapezoid {
    border-right-width: 50vw;
  }
}

.right-trapezoid {
  border-left-width: 640px;
  border-right-width: 0;
  border-left-color: transparent;
  right: 0;
  bottom: -1px;
}

@media only screen and (max-width: 1280px) {
  .right-trapezoid {
    border-left-width: 50vw;
  }
}

.list-switch {
  position: relative;
  cursor: pointer;
}

.list-switch::before {
  content: "";
  display: block;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.list-switch_reviews::before {
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-width: 8px 12px 8px 0;
  border-right-color: #000000;
}

.list-switch_reviews:last-of-type::before {
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-width: 8px 0 8px 12px;
  border-left-color: #000000;
}

.list-switch_work::before {
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-width: 8px 12px 8px 0;
  border-right-color: #ffffff;
}

.list-switch_work:last-of-type::before {
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-width: 8px 0 8px 12px;
  border-left-color: #ffffff;
}

.paginator-link {
  padding: 0;
  width: 10px;
  height: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.paginator-link_reviews {
  background-color: #ffffff;
  border: 1px solid #000000;
}

.paginator-link_reviews.paginator-link_active {
  background-color: #000000;
}

.paginator-link_work {
  background-color: #000000;
  border: 1px solid #ffffff;
}

.paginator-link_work.paginator-link_active {
  background-color: #ffffff;
}

.paginator-link:focus {
  outline: none;
}

.features {
  background-color: #353535;
}

.features .wrapper {
  position: relative;
}

.features .wrapper::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-width: 70px 640px 0 640px;
  border-top-color: #353535;
  -webkit-transform: translate(-50%, 99%);
          transform: translate(-50%, 99%);
  position: absolute;
  bottom: 0;
  left: 50%;
}

@media only screen and (max-width: 1280px) {
  .features .wrapper::after {
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-width: 70px 50vw 0 50vw;
    border-top-color: #353535;
  }
}

@media only screen and (max-width: 600px) {
  .features .wrapper::after {
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-width: 50px 50vw 0 50vw;
    border-top-color: #353535;
  }
}

.achievements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media only screen and (max-width: 991px) {
  .achievements {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
  }
}

@media only screen and (max-width: 767px) {
  .achievements {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    position: relative;
  }
}

.achievements__about-work {
  padding: 30px 50px 30px 40px;
  background-color: #ffffff;
}

@media only screen and (max-width: 991px) {
  .achievements__about-work {
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    padding-bottom: 80px;
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .achievements__about-work {
    position: static;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 20px 30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .achievements__about-work-left, .achievements__about-work-right {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .achievements__about-work-left {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .achievements__about-work-right {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.achievements__about-work h2 {
  font-size: 2rem;
  line-height: 1;
  font-weight: 700;
  margin-bottom: 25px;
}

@media only screen and (max-width: 991px) {
  .achievements__about-work h2 {
    margin-bottom: 0;
    width: 250px;
  }
}

@media only screen and (max-width: 767px) {
  .achievements__about-work h2 {
    text-transform: uppercase;
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .achievements__about-work h2 {
    font-size: 1.5rem;
    width: 200px;
  }
}

@media only screen and (max-width: 991px) {
  .achievements__about-work p:first-of-type {
    width: 230px;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 767px) {
  .achievements__about-work p:first-of-type {
    width: auto;
    margin-top: 20px;
    text-align: center;
  }
}

.achievements__about-work .grey {
  margin-top: 25px;
  color: #cccccc;
}

@media only screen and (max-width: 991px) {
  .achievements__about-work .grey {
    position: absolute;
    left: 40px;
    bottom: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .achievements__about-work .grey {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    left: 50%;
    bottom: -50px;
    width: 220px;
  }
}

.achievements__about-work::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 12px solid #ffffff;
  border-bottom-color: transparent;
  border-left-color: transparent;
  position: absolute;
  top: 40px;
  left: -24px;
}

.achievements__numbers {
  width: 640px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (max-width: 991px) {
  .achievements__numbers {
    -ms-flex-negative: 1;
        flex-shrink: 1;
    width: 100%;
  }
}

.achievements__numbers-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px 30px;
  color: #ffffff;
}

@media only screen and (min-width: 768px) {
  .achievements__numbers-item {
    margin-right: 0;
    margin-bottom: 0;
    width: 50%;
  }
  .achievements__numbers-item:nth-child(2n) {
    margin-right: 0;
  }
}

@media only screen and (max-width: 767px) {
  .achievements__numbers-item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media only screen and (max-width: 600px) {
  .achievements__numbers-item {
    padding: 20px;
  }
}

.achievements__numbers-item:first-child, .achievements__numbers-item:last-child {
  background-color: #404040;
}

.achievements__numbers-item:nth-child(2) {
  background-color: #4e4e4e;
}

.achievements__numbers-item:nth-child(3) {
  background-color: #353535;
}

.achievements__numbers-item h2 {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 10px;
}

@media only screen and (max-width: 767px) {
  .achievements__numbers-item h2 {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 600px) {
  .achievements__numbers-item h2 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 767px) {
  .achievements__numbers-item p {
    width: 115px;
    text-align: right;
  }
}

.work {
  margin-top: -150px;
}

@media only screen and (max-width: 991px) {
  .work {
    margin-top: -200px;
  }
}

@media only screen and (max-width: 767px) {
  .work {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 600px) {
  .work {
    padding: 0 20px;
  }
}

.work__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
}

.work__bottom {
  height: 15px;
}

@media only screen and (min-width: 768px) {
  .work__bottom {
    display: none;
  }
}

.work__list {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .work__list {
    overflow: hidden;
  }
}

.work .list-switch {
  width: 50px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: none;
}

.work__list-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .work__list-field {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 767px) {
  .work__list-field {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
}

.work__list-item {
  text-align: center;
  padding: 40px;
}

@media only screen and (min-width: 992px) {
  .work__list-item {
    margin-right: 0;
    margin-bottom: 0;
    width: 33.33333%;
  }
  .work__list-item:nth-child(3n) {
    margin-right: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .work__list-item {
    height: 180px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: start;
  }
}

@media only screen and (max-width: 767px) {
  .work__list-item {
    width: 100%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

.work__list-item .image {
  width: 95px;
  height: 95px;
  margin: 0 auto;
  background: url("../images/features/features-images.png") no-repeat 0 0;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .work__list-item .image {
    margin-right: 30px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

.work__list-item h2 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px 0 20px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .work__list-item h2 {
    margin-top: 0;
  }
}

.work__list-item h2 p {
  width: 100%;
}

.work__list-item:nth-child(2) {
  position: relative;
}

.work__list-item:nth-child(2)::before, .work__list-item:nth-child(2)::after {
  content: "";
  display: block;
  background-color: #4e4e4e;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media only screen and (min-width: 992px) {
  .work__list-item:nth-child(2)::before, .work__list-item:nth-child(2)::after {
    width: 1px;
    height: 70%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .work__list-item:nth-child(2)::before, .work__list-item:nth-child(2)::after {
    height: 1px;
    width: 90%;
  }
}

@media only screen and (min-width: 992px) {
  .work__list-item:nth-child(2)::before {
    top: 50%;
    left: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .work__list-item:nth-child(2)::before {
    top: 0;
    left: 50%;
  }
}

@media only screen and (min-width: 992px) {
  .work__list-item:nth-child(2)::after {
    top: 50%;
    right: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .work__list-item:nth-child(2)::after {
    bottom: 0;
    left: 50%;
  }
}

.work__list-item:nth-child(2) .image {
  background-position: 50% 0;
}

.work__list-item:last-child .image {
  background-position: 100% 0;
}

.work__paginator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.work__paginator .paginator-link {
  margin: 0 10px;
}

.news {
  margin-top: 130px;
  border-bottom: 1px solid #d5c9bd;
}

@media only screen and (max-width: 992px) {
  .news {
    margin-top: 100px;
  }
}

@media only screen and (max-width: 600px) {
  .news {
    margin-top: 80px;
    padding: 0 20px;
  }
}

.news .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (max-width: 767px) {
  .news .wrapper {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 30px;
  }
}

.news h2 {
  font-size: 2rem;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}

@media only screen and (max-width: 767px) {
  .news h2 {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media only screen and (max-width: 767px) {
  .news .button {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
  }
}

.news__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 50px 0 40px;
}

@media only screen and (max-width: 767px) {
  .news__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0;
  }
}

.news__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-right: 30px;
}

.news__list-item:hover .news__list-item-date {
  background-color: #826550;
}

.news__list-item:hover .news__list-item-date::after {
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-width: 10px 25px 0 25px;
  border-top-color: #826550;
}

.news__list-item:hover .news__list-item-text {
  color: #826550;
  text-decoration: underline;
}

.news__list-item.mousedown .news__list-item-date {
  background-color: #6a4d38;
}

.news__list-item.mousedown .news__list-item-date::after {
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-width: 10px 25px 0 25px;
  border-top-color: #6a4d38;
}

.news__list-item.mousedown .news__list-item-text {
  color: #6a4d38;
}

@media only screen and (max-width: 991px) {
  .news__list-item:last-child {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .news__list-item {
    margin-right: 0;
    margin-bottom: 0;
    width: 33.33333%;
  }
  .news__list-item:nth-child(3n) {
    margin-right: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .news__list-item {
    margin-right: 0;
    margin-bottom: 0;
    width: 50%;
  }
  .news__list-item:nth-child(2n) {
    margin-right: 0;
  }
}

@media only screen and (max-width: 767px) {
  .news__list-item {
    padding-right: 0;
    margin-bottom: 40px;
  }
}

@media only screen and (min-width: 500px) and (max-width: 767px) {
  .news__list-item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.news__list-item-date {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 20px 0 0;
  background-color: #000000;
  color: #ffffff;
  position: relative;
}

.news__list-item-date::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-width: 10px 25px 0 25px;
  border-top-color: #000000;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  position: absolute;
  bottom: 0;
  left: 0;
}

.news__list-item-date h3 {
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: -5px;
}

.news__list-item-date p {
  line-height: 1;
}

@media only screen and (min-width: 500px) and (max-width: 767px) {
  .news__list-item-date {
    margin-top: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .news__list-item-text {
    width: 240px;
  }
}

.reviews {
  margin: 50px 0;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .reviews::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-width: 50px 50vw 0 50vw;
    border-top-color: #ffffff;
    -webkit-transform: translate(-50%, 99%);
            transform: translate(-50%, 99%);
    position: absolute;
    bottom: 0;
    left: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .reviews {
    padding: 0 20px;
    margin-bottom: 0;
  }
}

.reviews__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews__top h2 {
  font-size: 2rem;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}

@media only screen and (max-width: 600px) {
  .reviews__top h2 {
    width: 100%;
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .reviews__top .button {
    display: none;
  }
}

.reviews__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px 0;
  width: 100%;
}

.reviews .list-switch {
  width: 50px;
  border: 1px solid #d5c9bd;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media only screen and (max-width: 600px) {
  .reviews .list-switch {
    display: none;
  }
}

.reviews__list {
  margin: 0 20px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: 1px solid #d5c9bd;
  overflow: hidden;
}

@media only screen and (max-width: 767px) {
  .reviews__list {
    margin: 0;
  }
}

@media only screen and (max-width: 600px) {
  .reviews__list {
    border-width: 0;
  }
}

.reviews__list-field {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.reviews__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
}

.reviews__list-item-image {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 160px;
  width: 249px;
  background-image: url(../images/reviews/rewiew-image-960.jpg);
}

@media only screen and (max-width: 767px) {
  .reviews__list-item-image {
    background-image: url(../images/reviews/review-image-767.jpg);
    background-position: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 40px 0 40px 20px;
  }
}

@media only screen and (max-width: 480px) {
  .reviews__list-item-image {
    border-radius: 0;
    margin: 5px 20px 0 10px;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

.reviews__list-item-quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin: 0 50px;
  width: 100%;
}

.reviews__list-item-quote cite {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

@media only screen and (max-width: 991px) {
  .reviews__list-item-quote {
    margin: 0 20px;
  }
}

@media only screen and (max-width: 480px) {
  .reviews__list-item-quote {
    margin: 0 10px 0 0;
  }
}

.reviews__paginator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 600px) {
  .reviews__paginator {
    height: 15px;
  }
}

.reviews__paginator .paginator-link {
  margin: 0 10px;
}

.our-works {
  padding: 50px 0;
  font-size: 0.9rem;
}

@media only screen and (max-width: 992px) {
  .our-works {
    position: relative;
  }
  .our-works::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-width: 70px 50vw 0 50vw;
    border-top-color: #ffffff;
    -webkit-transform: translate(-50%, 99%);
            transform: translate(-50%, 99%);
    position: absolute;
    bottom: 0;
    left: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .our-works {
    padding: 50px 20px;
  }
  .our-works::after {
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-width: 50px 50vw 0 50vw;
    border-top-color: #ffffff;
  }
}

.our-works .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.our-works h2 {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media only screen and (max-width: 600px) {
  .our-works h2 {
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .our-works .button {
    display: none;
  }
}

.our-works cite {
  font-size: 1.1rem;
  line-height: 1;
  font-weight: bold;
  margin-bottom: 25px;
}

.our-works__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (max-width: 991px) {
  .our-works__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.our-works__item {
  border: 1px solid #d5c9bd;
  position: relative;
}

@media only screen and (min-width: 992px) {
  .our-works__item {
    margin-right: 4%;
    margin-bottom: 4%;
    width: 30.66667%;
    margin-bottom: 0;
  }
  .our-works__item:nth-child(3n) {
    margin-right: 0;
  }
}

@media only screen and (max-width: 991px) {
  .our-works__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 40px;
    width: 100%;
  }
  .our-works__item:last-of-type {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 320px) {
  .our-works__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.our-works__top {
  overflow: hidden;
}

@media only screen and (max-width: 991px) {
  .our-works__top {
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

@media only screen and (max-width: 650px) {
  .our-works__top {
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }
}

@media only screen and (min-width: 321px) and (max-width: 480px) {
  .our-works__top {
    overflow: unset;
    margin-left: 20px;
    margin-top: 45px;
  }
}

.our-works__image {
  width: 294px;
}

@media only screen and (min-width: 321px) and (max-width: 480px) {
  .our-works__image {
    width: 100px;
  }
}

.our-works__image img {
  width: 100%;
  max-width: 100%;
  margin-bottom: -7px;
}

.our-works__bottom {
  padding: 30px 30px 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 991px) {
  .our-works__bottom {
    padding: 40px 40px 20px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media only screen and (min-width: 321px) and (max-width: 480px) {
  .our-works__bottom {
    padding-left: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.our-works__quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-bottom: 30px;
}

@media only screen and (max-width: 991px) {
  .our-works__quote {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media only screen and (max-width: 650px) {
  .our-works__quote {
    width: 150px;
  }
}

@media only screen and (max-width: 320px) {
  .our-works__quote {
    width: auto;
  }
}

.our-works__done-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  margin-left: -15px;
}

@media only screen and (min-width: 992px) {
  .our-works__done-field {
    position: absolute;
    bottom: 30px;
    left: 30px;
  }
}

@media only screen and (max-width: 650px) {
  .our-works__done-field {
    width: 150px;
  }
}

.our-works__done-field .work-done {
  margin: 10px 20px 10px 0;
}

.best-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #d5c9bd;
  position: relative;
  margin: 50px 0 40px;
  width: 100%;
}

@media only screen and (max-width: 480px) {
  .best-work {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.best-work__left {
  -webkit-box-flex: 10;
      -ms-flex-positive: 10;
          flex-grow: 10;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media only screen and (max-width: 992px) {
  .best-work__left {
    width: 294px;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
}

@media only screen and (max-width: 480px) {
  .best-work__left {
    width: auto;
  }
}

.best-work__image {
  max-width: 480px;
  height: 480px;
  background: url("../images/our-works/our-works-first.jpg") right top;
}

.best-work__right {
  margin: 40px 40px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.best-work__right-top {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 992px) {
  .best-work__right-top {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.best-work__quote {
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

@media only screen and (max-width: 992px) {
  .best-work__quote {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .best-work__quote {
    margin-bottom: 10px;
  }
}

.best-work__label {
  width: 180px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #826550;
  color: #ffffff;
  font-size: 1rem;
  text-transform: uppercase;
  position: absolute;
  top: 30px;
  right: 0;
}

@media only screen and (min-width: 992px) {
  .best-work__label::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-width: 25px 0 25px 10px;
    border-left-color: #ffffff;
    position: absolute;
    left: -1px;
    top: 0;
  }
}

@media only screen and (max-width: 992px) {
  .best-work__label {
    left: 0;
  }
}

@media only screen and (max-width: 992px) {
  .best-work__label::before, .best-work__label::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-width: 25px 0 25px 10px;
    border-left-color: #826550;
    position: absolute;
    right: -9px;
  }
  .best-work__label::before {
    top: 0;
    border-top-width: 0;
  }
  .best-work__label::after {
    bottom: 0;
    border-bottom-width: 0;
  }
}

.best-work__done-field {
  margin-left: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.best-work__done-field .work-done {
  margin: 10px 20px 10px 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.best-work__done-field .work-done_mustache {
  margin-right: 0;
}

.work-done {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 25px;
}

.work-done::before {
  content: "";
  display: block;
  height: 100%;
  width: 50px;
  margin-right: 10px;
  background: url("../images/our-works/work-done.png") no-repeat;
  margin-bottom: -7px;
}

.work-done::after {
  height: 100%;
  text-transform: uppercase;
}

.work-done_haircut::after {
  content: "Стрижка";
}

.work-done_haircut::before {
  background-position: -7% 0;
}

.work-done_shaving::after {
  content: "Борода";
}

.work-done_shaving::before {
  background-position: 46.5% 0;
}

.work-done_mustache::after {
  content: "Усы";
}

.work-done_mustache::before {
  background-position: 100% 0;
}

.price-list {
  background-color: #353535;
  padding: 80px 0;
  color: #ffffff;
}

@media only screen and (max-width: 992px) {
  .price-list {
    padding-top: 150px;
  }
}

@media only screen and (max-width: 600px) {
  .price-list {
    padding: 100px 20px 80px;
    position: relative;
    z-index: -2;
  }
  .price-list::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-width: 70px 50vw 0 50vw;
    border-top-color: #353535;
    -webkit-transform: translate(-50%, 99%);
            transform: translate(-50%, 99%);
    position: absolute;
    bottom: 0;
    left: 50%;
  }
}

.price-list .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (max-width: 992px) {
  .price-list .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.price-list h2 {
  width: 100%;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.price-list__table {
  width: 100%;
}

.price-list__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 60px;
}

@media only screen and (max-width: 992px) {
  .price-list__left {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.price-list__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media only screen and (max-width: 992px) {
  .price-list__right {
    -ms-flex-negative: 1;
        flex-shrink: 1;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.price-list__discount {
  border: 1px solid #4e4e4e;
  padding: 30px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 992px) {
  .price-list__discount {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 20px;
  }
}

@media only screen and (max-width: 480px) {
  .price-list__discount {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.price-list__discount p {
  width: 120px;
  text-align: center;
}

@media only screen and (max-width: 992px) {
  .price-list__discount p {
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
    width: auto;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media only screen and (max-width: 600px) {
  .price-list__discount p {
    font-size: 1rem;
    font-weight: normal;
  }
}

@media only screen and (max-width: 480px) {
  .price-list__discount p {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
}

@media only screen and (max-width: 992px) {
  .price-list__clock-img {
    width: 80px;
    height: 78px;
  }
}

.price-list__clock-img img {
  width: 100%;
  max-width: 100%;
}

.table {
  width: 100%;
}

.table__col {
  border: 1px solid #4e4e4e;
  padding: 15px 20px;
}

@media only screen and (max-width: 480px) {
  .table__col {
    padding: 15px 0;
    border-width: 0;
  }
}

.table__col_number {
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .table__col_number {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .table__col_type {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .table__col_wash {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .table__col_price {
    text-align: end;
    vertical-align: middle;
  }
}

@media only screen and (max-width: 480px) {
  .table__col_price {
    vertical-align: top;
  }
}

.table__col_type-and-wash {
  display: none;
}

@media only screen and (max-width: 767px) {
  .table__col_type-and-wash {
    display: table-cell;
  }
}

.form-main {
  background-color: #f8f5f2;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 0;
}

@media only screen and (max-width: 600px) {
  .contacts {
    padding: 50px 20px;
    position: relative;
  }
  .contacts::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-width: 50px 50vw 0 50vw;
    border-top-color: #ffffff;
    -webkit-transform: translate(-50%, 99%);
            transform: translate(-50%, 99%);
    position: absolute;
    bottom: 0;
    left: 50%;
  }
}

.contacts__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 50px;
}

@media only screen and (max-width: 600px) {
  .contacts__head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contacts__head h2 {
  font-size: 2rem;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}

@media only screen and (max-width: 767px) {
  .contacts__head h2 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: center;
  }
}

@media only screen and (max-width: 767px) {
  .contacts__head .button {
    display: none;
  }
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-form__caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.contact-form__caption h3 {
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.contact-form__caption h3::before, .contact-form__caption h3::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 2px;
  width: 100%;
  background-color: #e5ddd5;
  position: relative;
}

.contact-form__caption h3::before {
  margin-left: -100%;
  left: -12px;
}

.contact-form__caption h3::after {
  margin-right: -100%;
  right: -12px;
}

.contact-form__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 30px;
}

.contact-form__name input {
  font-family: inherit;
  font-size: 24px;
  width: 30%;
  padding: 15px;
  margin-bottom: 5px;
}

@media only screen and (max-width: 767px) {
  .contact-form__name input {
    width: 33.33%;
  }
}

@media only screen and (max-width: 600px) {
  .contact-form__name input {
    width: 100%;
  }
}

.contact-form__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact-form__info input {
  font-family: inherit;
  font-size: 24px;
  width: 49%;
  padding: 15px;
  margin-bottom: 5px;
}

@media only screen and (max-width: 767px) {
  .contact-form__info input {
    width: 100%;
  }
}

.contact-form__info textarea {
  font-family: inherit;
  font-size: 24px;
  width: 100%;
  height: 220px;
  resize: none;
  padding: 15px;
  margin-top: 20px;
}

.contact-form__beard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
}

.contact-form__services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 30px;
}

@media only screen and (max-width: 600px) {
  .contact-form__services {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.beard-choise__unit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
}

@media only screen and (max-width: 600px) {
  .beard-choise__unit {
    width: 33.33%;
    margin-bottom: 20px;
  }
}

.beard-choise__unit input {
  display: none;
}

.beard-choise__unit input:hover + label::after {
  display: block;
}

.beard-choise__unit input:checked + label::after {
  display: block;
}

.beard-choise__unit input:checked + label::before {
  background-color: #d5c9bd;
}

.beard-choise__unit label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  font-weight: 700;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  user-select: none;
  position: relative;
}

.beard-choise__unit label::before {
  content: "";
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 50px;
  height: 50px;
  border: 2px solid #d5c9bd;
  border-radius: 50%;
  margin-right: 2px;
}

.beard-choise__unit label::after {
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid #d5c9bd;
  background-color: #ffffff;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 39px;
  left: 48.5%;
  display: none;
}

.additional-services__unit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  margin-bottom: 20px;
}

.additional-services__unit label {
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.additional-services__unit label::before {
  content: "";
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-right: 15px;
  vertical-align: middle;
  border: 2px solid black;
}

.additional-services__unit label:hover::before {
  background-color: #d5c9bd;
}

.additional-services__unit input {
  display: none;
}

.additional-services__unit input:checked + label::before {
  content: "";
  background: #d5c9bd url("../images/form_content/service-checked.png") no-repeat center;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .additional-services__unit {
    width: 49%;
  }
}

@media only screen and (max-width: 600px) {
  .additional-services__unit {
    width: 70%;
  }
}
/*# sourceMappingURL=main.css.map */